<!-- https://material.io/design/layout/responsive-layout-grid.html#columns-gutters-and-margins -->

<router-outlet></router-outlet>

<div class="grid">

  <div class="col-12 text-right m-2">
    <button (click)="listView()" mat-mini-fab aria-label="Example icon button with a home icon">
      <mat-icon>view_headline</mat-icon>
    </button>
    <button (click)="gridView()" mat-mini-fab aria-label="Example icon button with a home icon">
      <mat-icon>grid_on</mat-icon>
    </button>
  </div>

</div>

<div class="grid" *ngIf="todosScheduled && todosScheduled.length > 0">

  <div class="col-12">
    <h2>
      <mat-icon>eventavailable</mat-icon>
      Scheduled
    </h2>
  </div>

  <ng-container *ngIf="isGrid()">
    <div class="col-12 md:col-6 lg:col-3" *ngFor="let todoScheduled of todosScheduled">
      <todo [fromList]="true" [todo]="todoScheduled"></todo>
    </div>
  </ng-container>

  <ng-container *ngIf="isList()">
    <div class="col-12">
      <todoTable [todoList]="todosScheduled" [scheduled]="true"></todoTable>
    </div>
  </ng-container>

</div>

<div class="grid" *ngIf="todosUnscheduled && todosUnscheduled.length > 0">

  <div class="col-12">
    <h2>
      <mat-icon>eventbusy</mat-icon>
      Unscheduled
    </h2>
  </div>

  <ng-container *ngIf="isGrid()">
    <div class="col-12 md:col-6 lg:col-3" *ngFor="let todoUnscheduled of todosUnscheduled">
      <todo [fromList]="true" [todo]="todoUnscheduled"></todo>
    </div>
  </ng-container>
  <ng-container *ngIf="isList()">

  </ng-container>
</div>


