<!-- https://material.io/design/layout/responsive-layout-grid.html#columns-gutters-and-margins -->

<router-outlet></router-outlet>

<div class="grid">

  <div class="col-12 text-right m-2">

    <button routerLink="/todos/{{currentChild}}" [queryParams]="{view:'list'}" queryParamsHandling="merge"
            mat-mini-fab
            class="m-1" color="primary"
            aria-label="Example icon button with a home icon">
      <mat-icon>view_headline</mat-icon>
    </button>
    <button routerLink="/todos/{{currentChild}}" [queryParams]="{view:'grid'}" queryParamsHandling="merge"
            mat-mini-fab
            class="m-1" color="primary"
            aria-label="Example icon button with a home icon">
      <mat-icon>grid_on</mat-icon>
    </button>
  </div>

  <div class="col-12">
    <h2>
      <mat-icon style="vertical-align: middle">event_available</mat-icon>
      <span style="vertical-align: middle">Scheduled</span>
    </h2>
  </div>

  <ng-container *ngIf="todosScheduled && todosScheduled.length > 0; else noScheduled">

    <ng-container *ngIf="viewType === 'grid'">
      <div class="col-12 md:col-6 lg:col-3" *ngFor="let todoScheduled of todosScheduled">
        <todo [fromList]="true" [todo]="todoScheduled"></todo>
      </div>
    </ng-container>

    <ng-container *ngIf="viewType === 'list'">
      <div class="col-12">
        <todoTable [todoList]="todosScheduled" [scheduled]="true"></todoTable>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #noScheduled>
    <div class="col-12">
      <p>No scheduled todos</p>
    </div>
  </ng-template>

  <div class="col-12 mt-2">
    <h2>
      <mat-icon style="vertical-align: middle">event_busy</mat-icon>
      <span style="vertical-align: middle">Unscheduled</span>
    </h2>
  </div>

  <ng-container *ngIf="todosUnscheduled && todosUnscheduled.length > 0; else noUnscheduled">

    <ng-container *ngIf="viewType === 'grid'">
      <div class="col-12 md:col-6 lg:col-3" *ngFor="let todoUnscheduled of todosUnscheduled">
        <todo [fromList]="true" [todo]="todoUnscheduled" (delete)="onDelete($event)"></todo>
      </div>
    </ng-container>
    <ng-container *ngIf="viewType === 'list'">
      <div class="col-12">
        <todoTable [todoList]="todosUnscheduled" [scheduled]="false"></todoTable>
      </div>
    </ng-container>

  </ng-container>

  <ng-template #noUnscheduled>
    <div class="col-12">
      <p>No unscheduled todos</p>
    </div>
  </ng-template>

</div>
