<form *ngIf="todoForm" (ngSubmit)="save()" [formGroup]="todoForm">

  <mat-card class="example-card" style="max-width: 100%">

    <input type="hidden" formControlName="id">

    <mat-card-title *ngIf="isAdd()">Create a new task</mat-card-title>
    <mat-card-title *ngIf="isEdit()">Update an existing task</mat-card-title>

    <mat-card-content>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option *ngFor="let priority of priorities" [value]="priority">
            {{priorityLabel(priority)}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title of the task" formControlName="title">
        <mat-error *ngIf="isTitleInvalid()">{{getTitleErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description of the task ..." formControlName="description"></textarea>
      </mat-form-field>

      <ng-container formGroupName="range">

        <mat-checkbox formControlName="scheduled">
          Scheduled
        </mat-checkbox>

        <ng-container *ngIf="todoForm.value.range.scheduled">
          <section>
            <mat-form-field appearance="fill" class="mt-2 mr-2">
              <mat-label>Enter a starting date and time</mat-label>
              <input matInput [ngxMatDatetimePicker]="endPicker" formControlName="start">
              <mat-datepicker-toggle matSuffix [for]="$any(endPicker)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #endPicker></ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="mt-2 mr-2">
              <mat-label>Enter a end date and time</mat-label>
              <input matInput [ngxMatDatetimePicker]="startPicker" formControlName="end">
              <mat-datepicker-toggle matSuffix [for]="$any(startPicker)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #startPicker></ngx-mat-datetime-picker>
            </mat-form-field>
          </section>
          <section *ngIf="isRangeInvalid()">
            <mat-error *ngFor="let rangeError of getDateRangeErrorMessages()">{{rangeError}}</mat-error>
          </section>
        </ng-container>
      </ng-container>

    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button class="m-2" mat-raised-button type="submit" color="primary" [disabled]="todoForm.invalid">Submit</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</form>
